@model IEnumerable<H2ODBF.Models.Pago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto_pagado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metodo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto_pagado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metodo_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pago }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pago })
        </td>
    </tr>
}

</table>
